<nav>
    <div></div>
    <div class="logo">
        <img src="/assets/images/logo.png" alt="">
    </div>
    <div class="adminLogo">
        <img src="/assets/images/userlogo.png" alt=""><span>ADMIN</span>
    </div>
</nav>
<div class="blank">

</div>