<div class="leftSidebar">
    <h5>Admin panel</h5>
    <div class="line"></div>
    <div class="menu">

        <a href="/admin/dashboard">   
            <div>
                <img src="/assets/images/dashboardicon.png" alt="">
                <span>Dashboard</span>
            </div>
        </a>  

        <a href="/admin/products">
            <div>
                <img src="/assets/images/productmanagment.png" alt="">
                <span>Product Management</span>
            </div>
        </a>

        <a href="/admin/orders">
            <div>
                <img src="/assets/images/carticon.png" alt="">
                <span>Odres</span>
            </div>
        </a>

        <a href="/admin/category">
            <div>
                <img src="/assets/images/categoryicon.png" alt="">
                <span>Category</span>
            </div>
         </a>

        <a href="/admin/offers">
            <div>
                <img src="/assets/images/offericon.png" alt="">
                <span>Offers</span>
            </div>
        </a> 

        <a href="/admin/coupons">
            <div>
                <img src="/assets/images/couponicon.png" alt="">
                <span>Coupon</span>
            </div>
        </a>

        <a href="/admin/usermanagement">
            <div>
                <img src="/assets/images/userlogo.png" alt="">
                <span>User Management</span>
            </div>
        </a>
        <a href="/admin/logout">
            <div>
                <img src="/assets/images/logouticon.png" alt="">
                <span>Logout</span>
            </div>
        </a>
    </div>
</div>