

        <section id="leftSection">
            <div class="profile">
                <h5>My Account</h5>
                <div class="line"></div>

                <h6 class="text-success">Hai,</h6>
                <h6><%= userData.name%></h6>
                <h6><%= userData.email.substring(0,16)+'...'%></h6>

            </div>

            <div class="nav d-flex">

                <a href="/profile">
                   Profile
                </a>

                <a href="/address">
                    Manage Address
                 </a>

                 <a href="/resetPassword">
                    Reset Password
                 </a>

                 <a href="/referrals">
                  Referrals
                 </a>

            </div>

        </section>